@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

body {
  width: 70vw;
  margin: 0 auto;
  margin-top: 5vh;
  font-family: 'Open Sans', sans-serif;
}